{
    "from": "",
    "filesDir": "./files",
    "failedEmailsTracker": "trackinng-data/tracked.json",
    "maxAttempts": 5,
    "port": 587,
    "jobInterval": 3000,
    "secure": false,
    "removeSent": false,
    "attachments": {
        "connURL": "mongodb://localhost:27017",
        "dbName": "",
        "collName": ""
    },
    "to": {
        "support": [""],
        "newSales": [""],
        "complaint": [""],
        "default": [""]
    }
}